pkgbase = cnrdrvcups-sfp
	pkgdesc = Canon UFRII LT Printer Driver for Linux (LBP112/912, LBP113/913, LBP151dw, LBP6030/LBP6040/LBP6018L, LBP6230/LBP6240, LBP7100C/LBP7110C, LBP8100)
	pkgver = 5.10
	pkgrel = 1
	url = https://www.canon-europe.com
	arch = x86_64
	arch = aarch64
	license = GPL2
	license = MIT
	license = custom
	makedepends = jbigkit
	makedepends = gzip
	makedepends = libxml2
	depends = libcups
	depends = glibc
	depends = libstdc++
	depends = glib2
	depends = hicolor-icon-theme
	depends = libjpeg6-turbo
	depends = gtk3
	optdepends = jbigkit: solves some cpu hangs
	optdepends = ghostscript: necessary for printing on some devices
	optdepends = at-spi2-core: for cnsetuputil2l
	optdepends = gdk-pixbuf2: for cnsetuputil2l
	optdepends = cairo: for cnsetuputil2l
	optdepends = pango: for cnsetuputil2l
	conflicts = cndrvcups-lb
	conflicts = cndrvcups-common-lb
	options = !emptydirs
	options = !strip
	options = !libtool
	options = !lto
	source = https://gdlp01.c-wss.com/gds/0/0100005950/11/linux-UFRIILT-drv-v510-m17n.tar.gz
	source = replace_incorrect_int_with_char.patch
	md5sums = 9f42743e4b030e8560163858711914f0
	md5sums = 8bc26ff46bf5877b5800b77685d5d917
	sha512sums = 4e00e2183d872a46f2da3c5b6cfb0fc24adb84266bfa9c03d939ee836a66e663898f539c572eacef368774abcf8594d51aea9712e730fd396754ef7e948b5e04
	sha512sums = 1d118eeee1ce069b59db00cba5b534986ccbd1da3a9c4a4ba6892be4a478c2dac4bd83dae1b2dd28f0e58a145609c60940cd661fee87d025a12f856e161b1f65

pkgname = cnrdrvcups-sfp
